$def with (tplData)
$:tplData['render'].header(tplData)
     <div class="jumbotron">
        <h1>python web框架企业实战详解 第8周</h1>
        <p>【声明】本视频和幻灯片为炼数成金网络课程的教学资料，所有资料只能在课程内使用，不得在课程以外范围散播，违者将可能被追究法律和经济责任。
        课程详情访问炼数成金培训网站
        http://edu.dataguru.cn
        </p>
     </div>
	<div id="wrap">
		<!-- 轮播主题  -->
		<div id="content">
            <article id="user">
                <h1>Users</h1>
            $for i in tplData['users']:
                <p>$:i['id'] => $:i['name'] => $:i['email']</p>
            </article>
            <article id="group"><hr>
                <h1>Group</h1>
            $for i in tplData['group']:
                <p>$:i['id'] => $:i['name'] => $:i['description']</p>
            </article>
            <article id="forum"><hr>
                <h1>Forum</h1>
            $for i in tplData['forum']:
                <p>$:i['id'] => $:i['title'] => $:i['content']</p>
            </article>
		</div>
	</div>  <!-- wrap end -->

$:tplData['render'].footer(tplData)