$def with (para)
$if para ==1:
    <a href='http://localhost:8080/toLogin' target='_blank' class=''><span>login</span></a> 
	<a href='http://localhost:8080/toregister' target='_blank' class=''><span>register</span></a> 
	<a href='http://localhost:8080/tocheckmail' target='_blank' class=''><span>checkmail</span></a> 
	<a href='http://localhost:8080/tofindpassword' target='_blank' class=''><span>findpassword</span></a>
	<a href='http://localhost:8080/todetail' target='_blank' class=''><span>person_detail</span></a>
$else:
	<a href='http://1.menupythontest.sinaapp.com/toLogin' target='_blank' class=''><span>login</span></a> 
	<a href='http://1.menupythontest.sinaapp.com/toregister' target='_blank' class=''><span>register</span></a> 
	<a href='http://1.menupythontest.sinaapp.com/tocheckmail' target='_blank' class=''><span>checkmail</span></a> 
	<a href='http://1.menupythontest.sinaapp.com/tofindpassword' target='_blank' class=''><span>findpassword</span></a>
	

 